<table class="table table-bordered playertable table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Score</th>
			<th>O</th>
			<th>D</th>
			<th>S</th>
		</tr>
	</thead>
	<tbody>
	{{#each data}}
		<tr>
			<td>
                <a href={{url}}>{{name}}</a>
                {{#if untracked}}
<span title="Stats for this player from this match has not been tracked in their overall rating.
This can happen when:
1. There were less than 3 people on the server during the match
2. Their performance has been diagnosed as cheating or stat padding" style="color: red">&nbsp;(Not tracked)</span>
                {{/if}}
            </td>
			<td>{{score}}</td>
			<td>{{offense}}</td>
			<td>{{defense}}</td>
			<td>{{style}}</td>
		</tr>
	{{/each}}
	</tbody>
</table>
