<nav aria-label="Page navigation">
    <ul class="pagination">
        <li {{#unless pagination.prev}}class="disabled"{{/unless}}>
            <a {{#if pagination.first}}href="?page={{pagination.first}}"{{/if}} aria-label="First">
                {{pagination.first}}
            </a>
        </li>
        <li {{#unless pagination.prev}}class="disabled"{{/unless}}>
            <a {{#if pagination.prev}}href="?page={{pagination.prev}}"{{/if}} aria-label="prev">
                &laquo;
            </a>
        </li>

        <li class="active">
            <a href="?page={{pagination.page}}">
                {{pagination.page}} <span class="sr-only">(current)
            </a>
        </li>

        <li {{#unless pagination.next}}class="disabled"{{/unless}}>
            <a {{#if pagination.next}}href="?page={{pagination.next}}"{{/if}} aria-label="Next">
                &raquo;
            </a>
        </li>
        <li {{#unless pagination.next}}class="disabled"{{/unless}}>
            <a {{#if pagination.last}}href="?page={{pagination.last}}"{{/if}} aria-label="Last">
                {{pagination.last}}
            </a>
        </li>
    </ul>
</nav>
