<table class="table table-bordered playertable table-hover">
	<thead>
		<tr>
			<th data-sort-method='numeric' class="hidden-xs">#</th>
			<th>Name</th>
			<th data-sort-method='numeric'>Kills</th>
			<th class="hidden-xs"data-sort-method='numeric'>Deaths</th>
			<th class="hidden-xs" data-sort-method='numeric'>Kills per minute</th>
			<th data-sort-method='numeric'>Style</th>
			<th class="hidden-xs" data-sort-method='numeric'>Flag captures</th>
			<th data-sort-method='numeric'><span class="hidden-xs">Total </span>Score</th>
			<th class="hidden-xs">Time played</th>
			<th class="hidden-xs" data-sort-method='date'>Last seen</th>
		</tr>
	</thead>
	<tbody>
	{{#each data}}
		<tr>
			<td class="hidden-xs">{{inc @index}}</td>
			<td><a href="/player/{{urlencode _id}}">{{_id}}</a></td>
			<td>{{emptyIfZero this kills}}</td>
			<td class="hidden-xs">{{emptyIfZero this deaths}}</td>
			<td class="hidden-xs">{{killsperminute this}}</td>
			<td>{{emptyIfZero this style}}</td>
			<td class="hidden-xs">{{emptyIfZero this stats.flagCaptureStat}}</td>
			<td>{{emptyIfZero this score}}</td>
			<td class="hidden-xs">{{showMinutes minutesonline}}</td>
			<td class="hidden-xs">{{showMoment lastseen}}</td>
		</tr>
	{{/each}}
	</tbody>
</table>
