<table class="table table-bordered playertable table-hover">
	<thead>
		<tr>
			<th data-sort-method='numeric'>#</th>
			<th>Name</th>
			<th data-sort-method='numeric'>Kills</th>
			<th data-sort-method='numeric'>Deaths</th>
			<th data-sort-method='numeric'>Kills per minute</th>
			<th data-sort-method='numeric'>Style</th>
			<th data-sort-method='numeric'>Flag captures</th>
			<th data-sort-method='numeric'>Total score</th>
			<th>Time played</th>
			<th data-sort-method='date'>Last seen</th>
		</tr>
	</thead>
	<tbody>
	{{#each data}}
		<tr>
			<td>{{inc @index}}</td>
			<td><a href="/player/{{urlencode _id}}">{{_id}}</a></td>
			<td>{{emptyIfZero kills}}</td>
			<td>{{emptyIfZero deaths}}</td>
			<td>{{killsperminute this}}</td>
			<td>{{emptyIfZero style}}</td>
			<td>{{emptyIfZero stats.flagCaptureStat}}</td>
			<td>{{emptyIfZero score}}</td>
			<td>{{showMinutes minutesonline}}</td>
			<td>{{showMoment lastseen}}</td>
		</tr>
	{{/each}}
	</tbody>
</table>
