<link rel="preload" href="/static/flags32.png" as="image">

<div class="col-lg-2 sidebar visible-lg-block">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#overview">Overview <span class="sr-only">(current)</span></a></li>
    <li><a href="#servers">Servers online</a></li>
    <li><a href="#kills">Greatest killers</a></li>
    <li><a href="#time">Most addicted</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#news">Code changes</a></li>
  </ul>
</div>
<div class="col-lg-10 col-lg-offset-2 main">
  {{#if warnings}}
  {{#each warnings}}
  <br>
  <div class="alert alert-warning alert-dismissible" role="alert">
    {{!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> --}}
    {{{text}}}
  </div>
  {{/each}}
  {{/if}}

  {{#if servers}}
  <h2 id="servers">Online servers</h2>
  <table class="table table-bordered servertable">
    <thead>
      <tr>
        <th>Name</th>
        <th class="hidden-xs">Address</th>
        <th>Map</th>
        <th>Players</th>
      </tr>
    </thead>
    <tbody>
      {{#each servers}}
      <tr class="server-map-row">
        <td><a href="/server/{{urlencode _id}}">{{name}}</a> {{> flag country=country}}</td>
        <td class="hidden-xs">{{_id}}</td>
        <td class="server-map-td">
          <div class="server-map">
            <span class="server-map-description">
              [{{lastdata.gametype}}] {{mapName lastdata.mapname}}
            </span>
            {{#if lastdata.mapnamefull}}
            <span class="server-map-thumbnail hidden-xs">
              <a href="{{mapImage lastdata.mapnamefull "loadscreens-chopped" false}}" target="_blank">
                <img width="91" height="44" src="{{mapImage lastdata.mapnamefull "loadscreens-chopped" true}}"
                  alt="{{lastdata.mapname}}">
              </a>
            </span>
            {{/if}}
          </div>
        </td>
        <td>{{lastdata.numplayers}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <div id="oldDiv"></div>
  {{else}}
  No servers online :(
  {{/if}}

  <h2 id="kills">Greatest killers</h2>
  {{> playerstable data=playersKills}}

  <h2 id="time">Most addicted</h2>
  {{> playerstable data=playersTime}}

  <h2 id="about">About</h2>
  <p>
    <a href="http://tribesrevengeance.net">Tribes Revengeance</a> stats page. <br>
    Made by Fireant with the help of Cobra and HighDive. <br>
    Source code available on <a href="https://github.com/jkelin/Tribes-Revengeance-stats">GitHub</a>.
  </p>

  <h2 id="news">Code changes</h2>
  <table class="table table-striped">
    <tr>
      <th>When</th>
      <th>What</th>
    </tr>

    {{#each news}}
    <tr>
      <td>{{showMoment date}}</td>
      <td><a href="{{url}}">{{message}}</a></td>
    </tr>
    {{/each}}
  </table>
</div>
