<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#overview">Overview <span class="sr-only">(current)</span></a></li>
    <li><a href="#servers">Servers online</a></li>
    <li><a href="#kills">Greatest killers</a></li>
    <li><a href="#time">Most addicted</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#news">News</a></li>
  </ul>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    {{#if alerts}}
    {{#each alerts}}
  	<div class="alert alert-warning alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  {{text}}
	</div>
	{{/each}}
    {{/if}}


	{{#if servers}}
	<h2 id="servers">Online servers</h2>
	<table class="table table-bordered servertable">
		<thead>
			<tr>
				<th>Name</th>
				<th>Address</th>
				<th>Map</th>
				<th>Number of players</th>
			</tr>
		</thead>
		<tbody>
			{{#each servers}}
			<tr>
				<td><a href="/server/{{urlencode _id}}">{{name}}</a> {{> flag country=country}}</td>
				<td>{{_id}}</td>
				<td>
                    {{#if lastdata.mapnamefull}}
                        <span class="home-map-thumbnail">
                            <a href="{{mapImage lastdata.mapnamefull "loadscreens-chopped" false}}">
                                <img class="thumbnail" src="{{mapImage lastdata.mapnamefull "loadscreens-chopped" true}}" alt="{{lastdata.mapname}}">
                            </a>
                        </span>
                    {{/if}}

                    <span class="home-map">
                        [{{lastdata.gametype}}] {{lastdata.mapname}}
                    </span>
                </td>
				<td>{{lastdata.numplayers}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	<div id="oldDiv"></div>
	{{else}}
	No servers online :(
	{{/if}}
	<span style="display:none" id="nowSpan">{{now}}</span>


	<h2 id="kills">Greatest killers</h2>
	{{> playerstable data=playersKills}}

	<h2 id="time">Most addicted</h2>
	{{> playerstable data=playersTime}}

	<h2 id="about">About</h2>
	<p>
		<a href="http://tribesrevengeance.com">Tribes Revengeance</a> stats page. <br>
		Made by Fireant with the help of Cobra and HighDive. <br>
		Source code available on <a href="https://github.com/fireantik/Tribes-Revengeance-stats">Github</a>.
	</p>

	<h2 id="news">News</h2>
	<h3>Code changes</h3>
	<table class="table table-striped">
		<tr>
			<th>When</th>
			<th>What</th>
		</tr>

		{{#each news}}
		<tr>
			<td>{{showMoment date}}</td>
			<td><a href="{{url}}">{{message}}</a></td>
		</tr>
		{{/each}}
	</table>
</div>

<script>
	var nowSpan = document.getElementById('nowSpan');
	var oldDiv = document.getElementById('oldDiv');

	var startTime = new Date(nowSpan.innerText);

	function reloadOldDiv(){
		var dif = new Date(Date.now()) - startTime;
		var seconds = parseInt(dif/1000);
		var timeText = seconds + " seconds";
		oldDiv.innerText = "This data is " + timeText + " old. If you want more current data, please click on a server.";
		oldDiv.style.display = seconds < 20 ? "none" : "block";
	}

	reloadOldDiv();
	setInterval(reloadOldDiv, 100);
</script>
