<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#overview">Overview <span class="sr-only">(current)</span></a></li>
    <li><a href="#servers">Servers online</a></li>
    <li><a href="#kills">Greatest killers</a></li>
    <li><a href="#time">Most addicted</a></li>
  </ul>
  <!--<ul class="nav nav-sidebar">
    <li><a href="">Nav item</a></li>
    <li><a href="">Nav item again</a></li>
    <li><a href="">One more nav</a></li>
    <li><a href="">Another nav item</a></li>
    <li><a href="">More navigation</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="">Nav item again</a></li>
    <li><a href="">One more nav</a></li>
    <li><a href="">Another nav item</a></li>
  </ul>-->
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    {{#if alerts}}
    {{#each alerts}}
  	<div class="alert alert-warning alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  {{text}}
	</div>
	{{/each}}
    {{/if}}

	Hello world
	
	{{#if servers}}
	<h2 name="servers">Online servers</h2>
	<table class="table table-bordered">
		<tr>
			<th>Name</th>
			<th>Address</th>
			<th>Map</th>
			<th>Number of players</th>
		</tr>
		{{#each servers}}
		<tr>
			<td><a href="/server/{{urlencode _id}}">{{name}} {{> flag ip=ip}}</a></td>
			<td>{{_id}}</td>
			<td>{{lastdata.mapname}}</td>
			<td>{{lastdata.numplayers}}</td>
		</tr>
		{{/each}}
	</table>
	{{else}}
	No servers online :(
	{{/if}}


	<h2 name="kills">Greatest killers</h2>
	<table class="table table-bordered">
		<tr>
			<th>Name</th>
			<th>Kills</th>
			<th>Deaths</th>
			<th>Style</th>
			<th>Flag captures</th>
			<th>Time played</th>
			<th>Last seen</th>
		</tr>
	{{#each playersKills}}
		<tr>
			<td><a href="/player/{{urlencode _id}}">{{_id}}</a></td>
			<td>{{kills}}</td>
			<td>{{deaths}}</td>
			<td>{{style}}</td>
			<td>{{stats.flagCaptureStat}}</td>
			<td>{{showMinutes minutesonline}}</td>
			<td>{{showMoment lastseen}}</td>
		</tr>
	{{/each}}
	</table>

	<h2 name="time">Most addicted</h2>
	<table class="table table-bordered">
		<tr>
			<th>Name</th>
			<th>Kills</th>
			<th>Deaths</th>
			<th>Style</th>
			<th>Flag captures</th>
			<th>Time played</th>
			<th>Last seen</th>
		</tr>
	{{#each playersTime}}
		<tr>
			<td><a href="/player/{{urlencode _id}}">{{_id}}</a></td>
			<td>{{kills}}</td>
			<td>{{deaths}}</td>
			<td>{{style}}</td>
			<td>{{stats.flagCaptureStat}}</td>
			<td>{{showMinutes minutesonline}}</td>
			<td>{{showMoment lastseen}}</td>
		</tr>
	{{/each}}
	</table>
</div>