{{#if names.length}}
<h2>{{name}}</h2>

{{#if names}}
    <h4>
        Names:
        {{#each names}}
          {{#if @key}}<span style="display: inline-block; margin-left: -4px; margin-right: 5px">,</span>{{/if}}
          <a href="/player/{{urlencode _id}}">{{_id}}</a>
        {{/each}}
    </h4>
{{/if}}

{{#if relatedNicknames.length}}
    <h4>
        Related personas:
        {{#each relatedNicknames}}
          {{#if @key}}<span style="display: inline-block; margin-left: -4px; margin-right: 5px">,</span>{{/if}}
          <a href="/persona/{{urlencode this}}">{{this}}</a>
        {{/each}}
    </h4>
{{/if}}

<table class="table table-striped">
    <tr><td>Total score</td><td>{{score}}</td></tr>
    <tr><td>Kills</td><td>{{kills}}</td></tr>
    <tr><td>Deaths</td><td>{{deaths}}</td></tr>
    <tr><td>Offense</td><td>{{offense}}</td></tr>
    <tr><td>Defense</td><td>{{defense}}</td></tr>
    <tr><td>Style</td><td>{{style}}</td></tr>
    <tr><td>Time played</td><td>{{showHours minutesonline}} ({{showMinutes minutesonline}})</td></tr>
    {{!-- <tr><td>Last seen</td><td>{{showMoment lastseen}}</td></tr> --}}
</table>
<br>
<table class="table table-striped">
    {{#each stats}}
        <tr>
            <td>{{translateStatName key}}</td>
            <td>{{sum}}</td>
        </tr>
    {{/each}}
</table>
{{else}}
Persona not found
{{/if}}
