{{#if data}}
<h2>
  {{data._id}}
  {{#if persona}}
    (<a href="/persona/{{urlencode persona}}">{{persona}}</a>)
  {{/if}}
</h2>

{{#if relatedNicknames.length}}
    <h4>
        Related personas:
        {{#each relatedNicknames}}
          {{#if @key}}<span style="display: inline-block; margin-left: -4px; margin-right: 5px">,</span>{{/if}}
          <a href="/persona/{{urlencode this}}">{{this}}</a>
        {{/each}}
    </h4>
{{/if}}

<table class="table table-striped">
    <tr><td>Total score</td><td>{{data.score}}</td></tr>
    <tr><td>Kills</td><td>{{data.kills}}</td></tr>
    <tr><td>Deaths</td><td>{{data.deaths}}</td></tr>
    <tr><td>Offense</td><td>{{data.offense}}</td></tr>
    <tr><td>Defense</td><td>{{data.defense}}</td></tr>
    <tr><td>Style</td><td>{{data.style}}</td></tr>
    <tr><td>Time played</td><td>{{showMinutes data.minutesonline}}</td></tr>
    <tr><td>Last seen</td><td>{{showMoment data.lastseen}}</td></tr>
</table>
<br>
<table class="table table-striped">
    {{#each data.stats}}
        <tr>
            <td>{{translateStatName @key}}</td>
            <td>{{this}}</td>
        </tr>
    {{/each}}
</table>
{{else}}
Player not found
{{/if}}
