<div class="main">
    {{#if alerts}}
    {{#each alerts}}
  	<div class="alert alert-warning alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  {{text}}
	</div>
	{{/each}}
    {{/if}}

	{{#if data}}
	<h2>{{data.name}} <small>{{data._id}}</small></h2>
	{{#if online}}
	<h4 style="color:#00AA00">Online</h4>
	{{else}} 
	<h4 style="color:#AA0000">Offline</h4>
	{{/if}}
	<table class="table table-bordered">
		<tr><td>Admin name</td><td>{{data.adminname}}</td></tr>
		<tr><td>Admin email</td><td>{{data.adminemail}}</td></tr>
		<tr><td>Time online</td><td>{{data.minutesonline}} minutes</td></tr>
		<tr><td>Max players</td><td>{{data.maxplayers}}</td></tr>
		<tr><td>Last seen</td><td>{{showMoment data.lastseen}}</td></tr>
	</table>

		{{#if online}}
		<h3>Players</h3>
		<table class="table table-bordered">
			<tr>
				<th>Name</th>
				<th>Score</th>
				<th>Team</th>
				<th>Ping</th>
			</tr>

			{{#each data.lastdata.players}}
			<tr>
				<td><a href="/player/{{urlencode name}}">{{name}}</a></td>
				<td>{{score}}</td>
				<td>{{team}}</td>
				<td>{{ping}}</td>
			</tr>
			{{/each}}
		</table>
		{{/if}}
	{{else}}
	Server not found
	{{/if}}
</div>