<table class="table table-bordered servertable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Time online</th>
            <th>Last seen</th>
        </tr>
    </thead>
    <tbody>
    {{#each data}}
        <tr>
            <td><a href="/server/{{urlencode _id}}">{{name}}</a> {{> flag country=country}}</td>
            <td>{{_id}}</td>
            <td>{{showMinutes minutesonline}}</td>
            <td>{{showMoment lastseen}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
