{{#if alerts}}
{{#each alerts}}
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{text}}
</div>
{{/each}}
{{/if}}

{{#if data}}
<h2>{{data.name}} <small>{{data._id}}</small></h2>
{{#if online}}
<h4 style="color:#00AA00">Online</h4>
{{else}} 
<h4 style="color:#AA0000">Offline</h4>
{{/if}}
<table class="table table-bordered">
    <tr><td>Admin name</td><td>{{data.adminname}}</td></tr>
    <tr><td>Admin email</td><td>{{data.adminemail}}</td></tr>
    <tr><td>Time online</td><td>{{showMinutes data.minutesonline}}</td></tr>
    <tr><td>Max players</td><td>{{data.maxplayers}}</td></tr>
    <tr><td>Last seen</td><td>{{showMoment data.lastseen}}</td></tr>
    <tr>
        <td>Last full report</td>
        {{#if data.lastfullreport}}
        <td>{{showMoment data.lastfullreport}}</td>
        {{else}}
        <td>Never (server side mod is not installed)</td>
        {{/if}}
    </tr>
</table>

    {{#if data.lastdata.players}}
        <h3>Players</h3>
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>Score</th>
                <th>Team</th>
                <th>Ping</th>
            </tr>

            {{#each data.lastdata.players}}
            <tr>
                <td><a href="/player/{{urlencode player}}">{{player}}</a></td>
                <td>{{score}}</td>
                <td>{{team}}</td>
                <td>{{ping}}</td>
            </tr>
            {{/each}}
        </table>
    {{/if}}

    {{#if chatOk}}
    <h3>Chat</h3>
    <div id="chat-container">
        {{#each chat}}
            {{> chatitem}}
        {{/each}}
    </div>
    <br>
    <form action="#" id="chat-form" class="form">
        <div class="row">
            <div class="col-sm-2">
                <input type="text" class="form-control input-sm" placeholder="Username" maxlength="29" required id="usr">
            </div>
            <div class="col-sm-8">
                <input type="text" class="form-control input-sm" placeholder="Message" required maxlength="196" id="msg">
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-block btn-sm btn-primary" disabled data-loading-text="Sending..." id="snd">
                    Connecting...
                </button>
            </div>
        </div>
    </form>
    {{/if}}
    
    <br>
    <div class="hidden-xs">
        <h3>Number of players online in last {{numdays}} days</h3>
        <a href="?days=2">2 Days</a> | 
        <a href="?days=5">5 Days</a> | 
        <a href="?days=7">7 Days</a>
        <span id="chartdata" style="display:none">{{json tracks}}</span>
        <span id="chatdata" style="display:none">{{json chat}}</span>
        <div id="chart_div" style="width: 900px; height: 400px;margin-left:auto;margin-right:auto"></div>
        <br>
        <br>
    </div>

    <script type="text/javascript" src="/static/tc-min.js"></script>
    <script type="text/javascript">
        var socket = io();
        socket.on("connect", function(){ 
            $("#snd").prop("disabled", false).text("Send") 
        });

        socket.on('chat-message', function (data) {
            if(!data || data.server !== "{{data._id}}") return;

            var html = '<div class="chat-item">' +
                '<span class="chat-user">' + data.user + ':</span>' +
                '<span class="chat-message">' + data.messageFriendly + '</span>' +
            '</div>';

            $("#snd").button("reset");
            
            container.append(html);
        });


        var dataSpan = JSON.parse(document.getElementById('chartdata').innerHTML);
        var chartData = [];
        for(var i in dataSpan){
            var date = new Date(parseInt(i));
            //var formated = date.getMonth()+"-"+date.getDate()+" "+date.getHours()+":"+date.getSeconds();
            chartData.push({date:date,players:dataSpan[i]});
        }

        document.TC = new Timechart({
            id: "chart_div",
            zoom: "d",
            datefield: "date",
            datafields: ["players"],
            dateformat: "yyyy-mm-dd h:i"
        },chartData);

        var chatData = JSON.parse(document.getElementById('chatdata').innerHTML) || [];

        var container = $('#chat-container');

        $("#usr").val(localStorage.getItem("name") || "");
        $("#usr").keyup(function() {
            localStorage.setItem("name", $(this).val())
        })

        container.scrollTop(container[0].scrollHeight);

        $("#chat-form").on("submit", function(e){
            e.preventDefault();

            var usr = $("#usr").val();
            var msg = $("#msg").val();

            $("#msg").val("");
            $("#snd").button("loading");

            socket.emit("say", {server: "{{data._id}}", usr: usr, message: msg});
        });
    </script>

{{else}}
Server not found
{{/if}}
